extends ../layout

block content
    h1.
        #{title}
    form(action='/projects/#{project._id}/add_posao/#{userid}',method='post',name='updateposao',enctype='application/x-www-form-urlencoded')
        p Zavrseni posao:
            input#inputPosao(type='text', name='posao')
        p
            input(type='hidden',value='PUT',name='_method')
        p
            button#btnSubmit(type='submit').
                Update