extends ../layout

block content
    h1.
        #{title}
    form(action='/projects/#{project._id}/add_clan/#{userid}',method='post',name='updateclanovi',enctype='application/x-www-form-urlencoded')
        p Novi clan:
            select#selectClan(name='clan')
                each user in users
                    option(value="#{user.username}") #{user.username}
        p
            input(type='hidden',value='PUT',name='_method')
        p
            button#btnSubmit(type='submit').
                Update