extends ../layout

block content
    p
        a(href='/users/#{userid}/voditelj') Voditelj projects
    h1.
        Project ID #{project._id}
    form(action='/projects/#{project._id}/edit_v/#{userid}',method='post',name='updateproject',enctype='application/x-www-form-urlencoded')
        p Naziv:
            input#inputNaziv(type='text', value='#{project.naziv}', name='naziv')
        p Opis:
            input#inputOpis(type='text', value='#{project.opis}', name='opis')
        p Cijena:
            input#inputCijena(type='number', value='#{project.cijena}', name='cijena')
        p Obavljeni poslovi: #{project.obavljeni_poslovi}
        p Pocetak:
            input#inputPocetak(type='date', value='#{pocetak}', name='pocetak')
        p Zavrsetak:
            input#inputZavrsetak(type='date', value='#{zavrsetak}', name='zavrsetak')
        p Clanovi: #{project.clanovi}
        p
            input(type='hidden',value='PUT',name='_method')
        p
            button#btnSubmit(type='submit').
                Update
        p 
            a(href='/projects/#{project._id}/add_clan/#{userid}') Dodaj novog clana
        p 
            a(href='/projects/#{project._id}/remove_clan/#{userid}') Obrisi clana
        p
            a(href='/projects/#{project._id}/add_posao/#{userid}') Dodaj obavljeni posao