extends ../layout

block content
    h1.
        #{title}
    form#formAddProject(name="addproject",method="post",action="/projects")
        p Naziv:
            input#inputNaziv(type='text', name='naziv')
        p Opis:
            input#inputOpis(type='text', name='opis')
        p Cijena:
            input#inputCijena(type='number', name='cijena')
        p Pocetak:
            input#inputPocetak(type='date', name='pocetak')
        p Zavrsetak:
            input#inputZavrsetak(type='date', name='zavrsetak')
        p Voditelj:
            select#selectVoditelj(name='voditelj')
                each user in users
                    option(value="#{user.username}") #{user.username}
        p Želite li arhivirati ovaj projekt?: 
            input#inputIsArhiva(type="checkbox", name="arhiviran")
        p
            button#btnSubmit(type='submit').
                Submit