extends ../layout

block content
    h1.
        #{title}
    form(action='/projects/#{project._id}/remove_clan/#{userid}',method='post',name='updateclan',enctype='application/x-www-form-urlencoded')
        p Unesi clana :
            select#deleteClan(name='clan')
                each clan in project.clanovi
                    option(value="#{clan}") #{clan}
        p
            input(type='hidden',value='PUT',name='_method')
        p
            button#btnSubmit(type='submit').
                Update