extends ../layout

block content
    h1.
        Project ID: #{project._id}
    p Naziv: #{project.naziv}
    p Opis: #{project.opis}
    p Cijena: #{project.cijena}
    p Obavljeni poslovi: #{project.obavljeni_poslovi}
    p Pocetak: #{pocetak}
    p Zavrsetak: #{zavrsetak}
    p Voditelj: #{project.voditelj}
    p Clanovi: #{project.clanovi}
    p Arhivirano: #{project.arhivirano}