extends ../layout

block content
    p
        a(href='/projects/new') Add new project
    p
        a(href='/users/#{userid}/voditelj') Voditelj projects
    p
        a(href='/users/#{userid}/arhiva') Arhiva projects
    h1.
        #{title}
    ul
        - each project, i in projects
            if(!project.arhiviran)
                li
                    = project.naziv
                    p 
                        a(href='/projects/#{project._id}/edit_c') Edit
                    p
                        a(href='/projects/#{project._id}') Show
            end