extends ../layout

block content
    p
        a(href='/users/register') Register
    
    h1.
        #{title}
    form(action='/users/login',method='post',name='loginuser',enctype='application/x-www-form-urlencoded')
        p Username:
            input#inputUsername(type='text', name='username')
        p Password:
            input#inputPassword(type='password', name='password')
        p
            input(type='hidden',value='PUT',name='_method')
        p
            button#btnSubmit(type='submit').
                Submit