extends ../layout

block content
    p
        a(href='/projects/new') Add new project
    p
        a(href='/users/#{userid}/clan') Clan projects
    p
        a(href='/users/#{userid}/arhiva') Arhiva projects
    h1.
        #{title}
    ul
        - each project, i in projects
            if(!project.arhiviran)
                li
                    = project.naziv
                    form(action='/projects/#{project._id}/edit',method='post',enctype='application/x-www-form-urlencoded')
                        input(type='hidden',value='DELETE',name='_method')
                        button(type='submit').
                            Delete
                    p 
                        a(href='/projects/#{project._id}/edit_v') Edit
                    p
                        a(href='/projects/#{project._id}') Show
            end